header {
    position: relative;
    height: 100vh;
    background: url("../images/header_mobile.jpg") no-repeat center/cover fixed;
    color: $dark-grey;

    @include sm {
        background-image: url("../images/header.jpg");
    }

    // Burger menu

    .burger {
        display: block;
        position: absolute;
        top: 5vh;
        right: 10vw;
        font-size: 2em;
        color: #fff;

        i {
            display: none;
        }

        .active {
            display: block;
        }

        @include sm {
            right: 5vw;
        }

        @include md {
            display: none;
        }
    }

    // Menu plus main writing

    .header-text {
        display: flex;
        padding-top: 25vh;
        margin: 0 auto;
        max-width: 50vw;


        @include sm {
            margin-left: 5vw;
            padding-top: 10vh;
        }

        @include md {
            max-width: 80%;
            margin-left: 10vw;
        }

        @include lg {
            max-width: 75%;
            margin-left: 15vw;
            padding-top: 15vh;
        }

        nav {
            display: none;

            @include md {
                display: inline-block;
                color: #fff;
                font-family: $font-oswald;
                font-size: 1.5em;
                line-height: 1.6em;
            }

            @include lg {
                font-size: 1.5em;
            }

            ul {
                list-style: none;

                li {

                    @include md {
                        &:hover {
                            color: $dark-grey;
                            transition: .3s;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        nav.active {
            display: block;
            position: absolute;
            top: 5vh;
            right: 20vw;
            background-color: #fff;
            font-family: $font-oswald;
            z-index: 3;
            text-align: center;

            li {
                margin: 0 2vw;
                padding: 1vh 7vw;
                border-bottom: 1px solid $dark-grey;

                &:last-of-type {
                    border-bottom: none;
                }
            }
        }

        // Main writing

        .headline {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            color: #fff;


            @include sm {
                padding-left: 20vw;
            }

            @include md {
                padding-top: 18vh;
                padding-left: 12vw;
            }

            @include lg {
                margin-right: 37vw;
                padding-top: 0;
            }

            h1 {
                font-size: 4em;
                line-height: 1em;
                font-family: 'Oswald', sans-serif;
                text-transform: uppercase;

                @include md {
                    font-size: 6em;
                }
            }

            h2 {
                font-family: 'Mr Dafoe', cursive;
                font-size: 2em;

                @include lg {
                    font-size: 3em;
                }
            }
        }
    }
}