.projects {
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-color: #efefef;

    @include sm {
        padding-top: 10vh;
        padding-bottom: 10vh;
    }

    @include md {
        padding-top: 3vh;
        padding-bottom: 3vh;
    }

    @include lg {
        padding-top: 8vh;
        padding-bottom: 8vh;
    }

    h1 {
        @include title;

        @include sm {
            margin-bottom: 5vh;
        }

        @include md {
            margin-bottom: 2vh;
            font-size: 1.8em;
        }

        @include lg {
            margin-bottom: 5vh;
        }
    }

    .gallery {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-wrap: wrap;
        color: #000;

        @include sm {
            width: 70%;
        }

        @include md {
            width: 80%;
            justify-content: space-between;
        }

        @include lg {
            width: 90%;
        }

        .project {
            position: relative;
            flex-basis: 100%;
            margin-bottom: 3vh;
            display: none;

            @include sm {
                margin-bottom: 10vh;
            }

            @include md {
                flex-basis: 47%;
                margin-bottom: 4vh;
            }

            @include lg {
                flex-basis: 23%;
            }

            img {
                max-width: 100%;
                height: auto;
                //border: 5px solid white;
                // border-radius: 1px;
                opacity: .9;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            }

            .frame {
                height: 70%;
                width: 80%;
                padding: 3% 7% 3% 7%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: rgba(235, 206, 208, 0.90);

                @include sm {
                    width: 70%;
                }

                @include md {
                    width: 80%;
                    padding: 3% 5% 3% 5%;
                }

                h2 {
                    margin-bottom: 2%;
                    font-family: $font-oswald;
                    font-size: 1.2em;
                    text-align: center;
                    letter-spacing: 1px;

                    @include sm {
                        margin-top: 5%;
                        margin-bottom: 5%;
                    }

                    @include md {
                        margin-top: 3%;
                        margin-bottom: 3%;
                        font-size: 1em;
                    }
                }

                p {
                    font-family: $font-roboto;
                    font-size: .8em;
                    line-height: 1.4em;
                    letter-spacing: .3px;

                    @include sm {
                        font-size: .9em;
                        line-height: 1.6em;
                    }

                    @include md {
                        font-size: .7em;
                        line-height: 1.4em;
                    }
                }

                .preview {
                    position: absolute;
                    bottom: 7%;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 35%;
                    display: flex;
                    justify-content: space-between;
                    margin: 0 auto;

                    @include sm {
                        bottom: 10%;
                    }

                    @include lg {
                        bottom: 5%;
                    }

                    a {
                        color: #000;
                        text-decoration: none;
                    }

                    i {
                        display: inline-block;
                        // flex-basis: 40%;
                        font-size: 1.7em;

                        @include md {
                            font-size: 1.4em;
                        }
                    }

                    .fa-search {
                        transform: scaleX(-1);
                    }
                }

                .preview.preview-only {
                    width: 10%;
                }
            }
        }
    }

    #loadMore {
        display: inline-block;
        margin: 3vh auto;
        border: none;
        padding: 2vh 10vw;
        background-color: black;
        text-transform: uppercase;
        font-family: $font-oswald;
        letter-spacing: 1px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        transition: .3s;

        @include sm {
            padding-top: 5vh;
            padding-bottom: 5vh;
        }

        @include md {
            padding-top: 2vh;
            padding-bottom: 2vh;
        }

        &:hover {
            color: $pink;
        }

    }
}